<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>

	<div class="container">
		<div>
			<form th:action="@{/planes/guardar}" method="post"
				th:object="${pl}">
				
				<div class="col-sm-12">
					<label class="form-label">Titulo: </label> <input type="text"
						class="form-control" th:field="*{titulo}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Descripcion: </label> <input type="text"
						class="form-control" th:field="*{descripcion}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Costo: </label> <input type="text"
						class="form-control" th:field="*{costo}"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Moneda: </label>
					<select name="selectType" class="form-control"
					th:field="*{moneda}">
					<option value="Soles" selected="selected">Soles</option>
					<option value="Dolares">Dolares</option>
					<option value="Euros">Euros</option>
					</select>
				</div>

				<div class="col-sm-12">
					<input type="submit" class="btn btn-dark" value="Registrar"></input>
				</div>

			</form>
		</div>
	</div>

</body>
</html>